<?xml version="1.0" encoding="utf-8" ?>
<SubCountersss Instance="1">
	<ChannelFactory DataAuth="net.tcp://zq.tzqc.net:9090/DataAuth/V20210128/" />
	<enableBackup Enable="false"/>
	<TimeMap IncludeWeekends="false"/>
</SubCountersss>


<!--<SubCounter Instance="1">
	<ChannelFactory DataAuth="net.tcp://zq.tzqc.net:9090/DataAuth/V20210128/" />
	<enableBackup Enable="false"/>
	<TimeMap IncludeWeekends="false"/>
</SubCounter>-->